body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #484848;
}
main {
  flex: 1;
}
